    * {
        margin: 0;
        padding: 0;
        user-select: none;
        box-sizing: border-box;
    }
    
    body {
        font-family: 'roboto';
        font-size: 1.2rem;
    }
    
    header {
        background: skyblue;
        height: auto;
    }
    
    nav a {
        color: darkblue;
        font-weight: bold
    }
    
    nav a:hover {
        color: rgb(32, 32, 235);
        font-size: 17px;
    }
    
    .main {
        border: 2px solid none;
        width: 300px;
        float: right;
        border-radius: 0.5em;
        margin: 20px 30px 20px 20px;
        padding: 0.5em;
        text-align: center;
        background: azure;
        color: #1034A6;
    }
    
    .main2 {
        padding: 5em 5em 0 5em;
        color: rgb(4, 4, 59);
        text-align: center;
        float: left;
        font-size: px;
    }
    
    span {
        margin-left: 5px;
        font-size: 1.7rem;
    }
    
    footer {
        padding: 15px 0;
        background: skyblue;
        margin-top: 2em;
        height: 50%;
    }
    
    .footer-box {
        padding: 2em;
        text-align: center;
        color: #020c2c
    }
    
    .dropdown-menu a {
        color: white;
        background: skyblue;
    }
    
    .dropdown-menu a:hover {
        background: darkblue;
        color: white
    }
    
    .body-content {
        background: azure;
        color: #1034A6;
        margin: 3em 2em 1em 2em;
        border-radius: 1.5em;
    }
    
    .box-content {
        width: 100%;
        padding: 2em;
        margin: 1em
    }
    
    .row::after {
        content: "";
        display: block;
        clear: both;
    }
    
    .row {
        margin-left: 4em;
        margin-right: 4em
    }
    
    [class*="column-"] {
        float: left;
        padding: 0 0.9em
    }
    
    .column-4 {
        width: 33.3333%;
    }
    
    .section {
        margin: 1.5em;
        background: azure;
        padding: 1em;
        border-radius: 1.5em;
        text-align: center
    }
    
    .section-head h1 {
        width: 50%;
        border-bottom: 3px solid rgb(84, 84, 134);
        text-align: center;
        margin: auto;
        color: #1034A6;
    }
    
    .section-head h1 a {
        text-decoration: none;
        color: #1034A6;
    }
    
    .section-img {
        width: auto;
        padding: 2em 1em;
    }
    
    .career {
        background-image: url(../img/careerpix.png);
        background-size: cover;
        background-position: center;
        text-align: center;
        color: whitesmoke;
        font-weight: bold;
        height: 300px;
        padding: 1em;
    }
    
    [class*="column-"] {
        float: left
    }
    
    .row::after {
        content: "";
        display: block;
        clear: both;
    }
    
    [class*="column-"] {
        float: left
    }
    
    .column-6 {
        width: 50%;
    }
    
    .column-4 {
        width: 33.3333%
    }
    
    .icon-bar {
        margin-bottom: 20px;
        color: darkblue;
    }
    
    @media(max-width: 770px) {
        img {
            width: 100%;
            height: 80%
        }
        [class*="column-"] {
            width: 100%
        }
        .main {
            float: left;
        }
        body {
            font-size: 1rem
        }
    }